@import "../css/style.css";
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #333333;
  background: #444444 url(../images/bg.jpg) repeat 0 0 scroll;
  min-width: 320px;
}
a {
  color: #333333;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  color: #f08482;
}
#main {
  overflow: hidden;
  padding: 40px 0;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  #main {
    padding-top: 0;
  }
}
/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
.h1 {
  color: #fff;
  text-align: center;
}
